<div class="footer">
    <div class="containers">
        <div class="content_one uppercaseall">
            <div>
                <ul>
                    <li><a>Men</a></li>
                    <li><a>Women</a></li>
                    <li><a>Baby & Kids</a></li>
                    <li><a>Home & Fasion</a></li>
                    <li><a>Offers</a></li>
                </ul>
            </div>
            <div class="imgcontent">
                <img src = "/assets/nallilogo.png">
            </div>
            <div>
                <ul>
                    <li><a>About</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
            </div>
            <div >
                <ul>
                    <li><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-google"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                </ul>
            </div>
        </div>
        <div class="content_one normal">
            <div class="listing">
                <ul>
                    <li><a>Sarees |</a></li>
                    <li><a>Dhotis |</a></li>
                    <li><a>Kurthis |</a></li>
                    <li><a>Jeans |</a></li>
                    <li><a>Formal Shirts |</a></li>
                    <li><a>Bags |</a></li>
                    <li><a>Belts</a></li>
                </ul>
            </div>
            <div class="listing">
                <ul>
                    <li>@ 2021 Nalli Silks. All Rights Reserved</li>
                </ul>
            </div>
            <div class="listing">
                <ul>
                    <li><a>Terms & Conditions |</a></li>
                    <li><a>Privacy Policy |</a></li>
                    <li><a>Company Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>